[Desktop Entry]
Categories=Utility;Qt;Development;
Exec=pbtk %f
Icon=re.fossplant.pbtk
# See https://github.com/lemenkov/shared-mime-info/blob/master/freedesktop.org.xml.in
# regarding the applicable mime types
MimeType=application/x-pie-executable;application/x-executable;application/x-sharedlib;application/vnd.microsoft.portable-executable;application/octet-stream;application/x-msdownload;application/java-archive;
StartupNotify=true
StartupWMClass=pbtk
Terminal=false
Type=Application
Version=1.5

Name=pbtk
Comment=A toolset for reverse engineering and fuzzing Protobuf-based apps
Keywords=Linux;Protobuf;Reverse-Engineering;Security;

# See https://specifications.freedesktop.org/desktop-entry-spec/latest/ar01s06.html
# regarding the general layout of the current file
